.about {
  color: white;
  font-family: 'LotteMartDream';
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: linear-gradient(to bottom, #fcfcfc, #2E4777);

  .header {
    justify-content: center;
    display: flex;
    padding: 10vw;

    .block {
      width: 30vw;

      @media screen and (max-width:520px) {
        width: 70vw;
        color: #434343;
      }

      img {
        width: 10vw;
        object-fit: scale-down;

        @media screen and (max-width:520px) {
          width: 20vw;
        }
      }
    }

    p {
      line-height: 20px;
    }
  }

  .introduces {
    margin: auto;
    width: 60vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .introduce {
      width: 21vw;

      @media screen and (max-width:520px) {
        width: 60vw;
      }

      .hr {
        background-color: #FF4848;
        margin: auto;
        height: 5px;
        width: 50px;
      }

      .img {
        margin: 50px auto;
        width: 15vw;
        height: 15vw;
        border-radius: 100vw;
        background-color: #d9d9d9;

        @media screen and (max-width:520px) {
          width: 30vw;
          height: 30vw;
        }

        img {
          width: 15vw;
          object-fit: scale-down;

          @media screen and (max-width:520px) {
            width: 30vw;
          }
        }
      }

      p {
        font-size: 15px;
        padding-top: 20px;
        margin-bottom: 30px;
        line-height: 20px;
        white-space: pre-wrap;
      }
    }
  }
}