@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

.App {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F0F1F2;
  height: calc(100vh);
  width: 100vw;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background: linear-gradient(to bottom, #ffffff, #2E4777);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: #2971FC;
  }
}