.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 0;
  background-color: #fdfdfd;

  .main {
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 85vh;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;

    @media screen and (max-width:500px) {
      justify-content: center;
      margin-top: 40px;
      height: 80vh;
    }

    .sideleft {
      overflow-y: scroll;
      width: 22vw;
      height: 85vh;
      margin-left: 3vw;
      text-align: center;

      @media screen and (max-width:500px) {
        width: 90vw;
        margin-left: 0;
        height: 40vh;
      }

      .head {
        width: 22vw;
        position: fixed;
        z-index: 3;
        background-color: #fdfdfd;

        input {
          padding-left: 15px;
        }
      }

      .hr {
        position: fixed;
        width: 22vw;
        margin-top: 30px;
        background-color: #fdfdfd;

        @media screen and (max-width:500px) {
          margin-top: 0px;
          width: 90vw;
        }

        hr {
          margin-bottom: 0;
          border: 1px solid #d9d9d9;
        }
      }

      .infos {
        margin-top: 80px;

        @media screen and (max-width:500px) {
          margin-top: 60px;
        }

        .info {
          border: 1px solid #d9d9d9;
          border-radius: 10px;
          margin-bottom: 20px;

          .header {
            margin-top: 5%;

            .flex {
              display: flex;
              margin-left: 20px;
              align-items: flex-end;
              margin-bottom: 10px;
            }

            div {
              &+div {
                margin-left: 5px;
              }
            }

            .name {
              font-size: 20px;
            }

            .job {
              color: #2971FC;
            }
          }

          hr {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 90%;
          }

          .tags {
            padding-right: 5%;
            display: inline-flex;
            flex-wrap: wrap;

            .tag {
              color: #3A3251;
              background-color: #f2f2f2;
              margin-left: 1vw;
              margin-bottom: 3%;
              padding: 1px 7px;
              border-radius: 10px;
            }
          }
        }
      }

      .head {
        display: flex;
        justify-content: center;

        button {
          border: 1px solid #999999;
          border-left: none;
          border-radius: 0 10px 10px 0;
          cursor: pointer;

          img {
            height: 25px;
            object-fit: scale-down;
          }
        }

        input {
          width: 100%;
          height: 35px;
          border: 1px solid #999999;
          border-radius: 10px 0 0 10px;
        }
      }

      hr {
        border: 1px solid #ccccdc;
        margin-top: 30px;
      }
    }

    .canvas {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 2vw;
      bottom: 2vw;
      background-color: #F0F1F2;
      border-radius: 15px;
      border: 1px solid #ccccdc;
      width: 70vw;
      justify-content: center;

      @media screen and (max-width:500px) {
        position: relative;
        width: 90vw;
        height: 40vh;
        right: 0;
      }

      .img {
        img {
          -webkit-user-drag: none;
        }

        overflow-x: scroll;
        overflow-y: scroll;
        text-align: center;
        width: 99%;

        &::-webkit-scrollbar {
          width: 0;
          height: 45px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #2971FC;
          border: 20px solid transparent;
          background-clip: padding-box;
          border-radius: 1000px;
        }
      }

      .sizing {
        position: absolute;
        bottom: 18px;
        left: 20px;
        display: flex;

        button {
          cursor: pointer;
          background-color: #cdcdcd;
          color: white;
          border: none;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          font-size: 28px;

          &:active {
            background-color: #2F50C6;
          }

          &+button {
            margin-left: 10px;
          }
        }
      }

      .move {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        margin-top: 20px;
        margin-left: 15px;

        .floor {
          display: flex;
          width: 30px;
          height: 30px;
          background-color: #3A3251;
          color: white;
          justify-content: center;
          align-items: center;
          width: 35px;
          border-radius: 7px;
          margin-right: 10px;
          cursor: pointer;
        }

        .floorHov {
          position: absolute;
          top: 30px;

          div {
            margin-top: 10px;
          }
        }

        button {
          margin: 0 10px;
          width: 70px;
          border-radius: 7px;
          border: none;
          background-color: #E5E5EC;
          cursor: pointer;
        }

        .current {
          border: none;
          background-color: #2971FC;
          color: white;
        }

        .hr {
          border-right: 1px solid black;
          margin: 0 10px;
        }
      }
    }
  }

  .sizingwarning {
    backdrop-filter: blur(4px);
    cursor: pointer;
    width: 100vw;
    z-index: 3;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(#000000, 0.25);
    display: flex;
    justify-content: center;
  }

  @keyframes movingAlert {
    0% {
      margin-top: -100px;
    }

    100% {
      margin-top: 10px;
    }
  }

  .alert {
    font-family: 'LotteMartDream';
    font-weight: lighter;
    z-index: 4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35%;
    top: 0;
    border-radius: 20px;
    animation-name: movingAlert;
    animation-duration: ease;
    animation-duration: 0.7s;
    margin-top: 10px;
    width: 30vw;
    height: 30vh;
    background-color: #fdfdfd;

    @media screen and (max-width:520px) {
      width: 70vw;
      height: 18vh;
      top: 40px;
      left: 15%;
    }

    div {
      margin-top: 10px;
      text-align: center;
      display: block;
    }
  }
}