.teach {
  width: 90vw;
  margin: auto;
  overflow-y: visible;

  .head {
    margin: 30px 0;
    display: flex;

    @media screen and (max-width:500px) {
      margin: 10px 0;
    }

    button {
      cursor: pointer;
    }

    .left {
      width: 65vw;
      display: flex;

      @media screen and (max-width:500px) {
        width: 90vw;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .sortimg {
        text-align: center;
        display: flex;
        align-items: center;
        width: 22px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #3A3251;
        margin-right: 11px;
      }

      .sortleft {
        @media screen and (max-width:500px) {
          display: flex;
        }

        button {
          margin: 3px 10px;
          border-radius: 10px;
          border: none;
          background-color: #e5e5ec;
          padding: 7px 20px;
          white-space: pre;

          &:hover {
            background-color: #2971FC;
            color: white;
          }
        }
      }

      .sortright {
        @media screen and (max-width:500px) {
          display: flex;
        }

        button {
          margin: 3px 10px;
          border-radius: 10px;
          border: none;
          white-space: pre;
          background-color: #e5e5ec;
          padding: 7px 10px;

          &:hover {
            background-color: #7E7F9B;
            color: white;
          }
        }
      }
    }

    .right {
      position: absolute;
      display: flex;
      right: 5vw;

      input {
        padding-left: 15px;
        width: 15vw;
        height: 30px;
        border-radius: 10px 0 0 10px;
        border: 1px solid #cccccc;
      }

      button {
        border: 1px solid #cccccc;
        border-radius: 0 10px 10px 0;
        width: 34px;
        height: 33px;
        margin-left: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .infos {
    margin-top: 15px;
    padding: 0 4vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;

    @media screen and (max-width: 520px) {
      overflow-y: scroll;
      height: 70vh;
    }

    .info {
      width: 25vw;
      margin-left: 2vw;
      background-color: #fdfdfd;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      margin-bottom: 20px;

      @media screen and (max-width: 520px) {
        width: 80vw;
      }

      .header {
        margin-top: 1.5vh;

        .flex {
          display: flex;
          margin-left: 1.5vw;
          align-items: flex-end;
          margin-bottom: 1.2vh;
        }

        div {
          &+div {
            margin-left: 0.3vh;
          }
        }

        .name {
          font-size: 20px;
        }

        .job {
          color: #2971FC;
        }
      }

      hr {
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 90%;
      }

      .tags {
        width: 90%;
        display: inline-flex;
        flex-wrap: wrap;

        .tag {
          color: #3A3251;
          background-color: #f2f2f2;
          margin-left: 1vw;
          margin-bottom: 3%;
          padding: 1px 7px;
          border-radius: 10px;
        }
      }
    }
  }

  .labels {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100vw;

    .dot {
      border-radius: 10px;
      width: 10px;
      height: 10px;
      background-color: #CCCCDC;
    }

    .bold {
      font-weight: bolder;
      background-color: #2971FC;
    }

    label {
      cursor: pointer;

      &+label {
        margin-left: 10px;
      }
    }
  }
}