.welcome {
  background-color: #fdfdfd;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LotteMartDream";

  .main {
    margin-top: -30px;

    .img {
      text-align: center;

      img {
        height: 25vh;

        @media screen and (max-width:500px) {
          height: 16vh;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      button {
        width: 140px;
        height: 40px;
        font-size: 14px;
        background-color: white;
        border-radius: 3px;
        border: none;
        box-shadow: 0 0 7px 2px #dfdfdf;
        color: #2971fc;
        cursor: pointer;

        @media screen and (max-width:500px) {
          width: 110px;
          font-size: 12px;
          white-space: pre;
        }

        &+button {
          margin-left: 20px;
        }

        &:hover {
          font-weight: bolder;
          background-color: #2971fc;
          color: #dfdfdf;
        }
      }
    }
  }

  .abouts {
    position: absolute;
    color: #999999;
    text-align: right;
    bottom: 12px;
    right: 20px;

    a {
      text-decoration-line: none;
      color: #999999;
    }
  }
}