.App {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F0F1F2;
  height: calc(97vh);

  .navigator {
    background-color: #fdfdfd;
    position: relative;
    border: 1px solid black;
    width: calc(100vw - 2px);
    height: calc(8vh - 2px);
    display: flex;
    align-items: center;
    justify-content: center;

    .m-text {
      display: flex;
      height: 100%;

      div {
        height: 100%;

        a {
          display: flex;
          align-items: center;
          color: #121212;
          font-size: 16px;
          cursor: pointer;
          text-decoration-line: none;
          height: 100%;

          &:hover {
            color: blue;
          }
        }
      }
    }

    .right {
      position: absolute;
      right: 30px;
    }

    .mapHov {
      position: absolute;
      text-align: center;
      top: 59px;
      margin-left: -110px;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      background-color: #fdfdfd;
      width: 100px;

      hr {
        margin: 0 auto;
        width: 90%;
      }

      a {
        text-decoration-line: none;
        color: #121212;

        &:hover {
          color: blue;
        }

        div {
          justify-content: center;
          display: flex;
          align-items: center;
          height: 35px;
        }
      }
    }
  }

  .map {
    width: calc(100vw - 8px);

    .img {
      position: absolute;
      margin: auto;

      img {
        width: 80vw;
      }
    }
  }

  .teach {
    width: calc(100vw - 8px);
  }
}