@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

.App {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F0F1F2;
  height: calc(100vh);
  width: 100vw;

  .navigator {
    background-color: #fdfdfd;
    position: relative;
    border-bottom: 1px solid black;
    width: calc(100vw - 2px);
    height: calc(8vh - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LotteMartDream';

    .middle-text {
      display: flex;
      height: 100%;

      div {
        height: 100%;

        a {
          display: flex;
          align-items: center;
          color: #121212;
          font-size: 16px;
          cursor: pointer;
          text-decoration-line: none;
          height: 100%;

          &:hover {
            color: #2971FC;
          }
        }

        &+div {
          margin-left: 40px;
        }
      }
    }

    .right {
      position: absolute;
      right: 30px;
    }

    .mapHov {
      position: absolute;
      text-align: center;
      top: 59px;
      margin-left: -100px;
      justify-content: center;
      border-radius: 0 0 10px 10px;
      background-color: #fdfdfd;
      width: 90px;
      z-index: 1;

      hr {
        margin: 0 auto;
        width: 90%;
      }

      a {
        text-decoration-line: none;
        color: #121212;

        &:hover {
          color: #2971FC;
        }

        div {
          justify-content: center;
          display: flex;
          align-items: center;
          height: 35px;
        }
      }
    }
  }

  .map {
    width: calc(100vw - 8px);

    .img {
      margin: auto;
      width: 80vw;
      height: 80vh;

      img {
        width: 80vw;
        height: 80vh;
        object-fit: scale-down;
      }
    }
  }

  .teach {
    width: 100vw;
  }

  .login {
    width: 100vw;
  }

  .welcome {
    width: 100vw;
  }
}